@*Получение объекта, который передается на страницу через представление*@
@*За счет подключения, теперь мы можем использовать коллекцию, которую передали, на основ класса Car*@
@model CarListViewModel

<br />
<h2>Все автомобили:</h2>
<h3>@Model.CurrentCategory</h3>
<div class="row mt-5 mb-2">
    @{
        @*Перебираем данные в подключенной модели*@
        @*Обязательно указываем явны тип данных в цикле*@
        foreach (Car car in Model.AllCars)
        {
            @Html.Partial("_Cars", car)
        }
    }
</div>